.breadcrumbs {
	&-wrap {
		display: none;
		.container {
			padding-bottom: 0;
		}
	}
	&-list {
		@extend %list-reset;
		padding: 0;
		margin: 0;
		color: $gray;
	}
	&-item {
		display: inline-block;
		font-weight: bold;
		@include inline-bullets;
		&:after {
			margin: 0 5px;
		}
	}
	@media #{$mq-mediumScreen} {
		&-wrap {
			display: block;
		}
	}
}