@mixin btn-color($color) {
	background-color: $color;
	&:after {
		background-color: $color;
	}
	&:hover, &:focus {
		text-decoration: none;
		background-color: darken($color, 3%);
		&:after {
			background-color: darken($color, 3%);
		}
	}
}

.button {
	@include btn-color(#ddd);
	position: relative;
	padding: 15px 50px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: $font-2;
	font-weight: bold;
	font-size: 1rem;
	border: none;
	cursor: pointer;
	color: #fff;
	//overflow: hidden;
	text-align: center;
	overflow: visible;
	display: block;
	width: 100%;
	margin: 0;
	&:hover {
		color: #ffffff;
	}
	@media #{$mq-mediumScreen} {
		width: auto;
		display: inline-block;
	}
	&-arrow {
		padding: 15px 22px 15px 25px;
		margin-right: 56px;
		max-width: calc(100% - 53px);
		&:after {
			content: '\25BA';
			font-family: serif;
			color: #fff;
			line-height: 1.3em;
			position: absolute;
			height: 100%;
			left: calc(100% + 3px);
			top: 0;
			width: 50px;
			text-align: center;
			// https://stackoverflow.com/a/46177771
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&-down {
			@extend .button-arrow;
			&:after {
				content: '\f0d7';
				font-family: 'Font Awesome 5 Free';
				font-weight: bold;
				font-size: 1.2em;
			}
		}
	}
	.fa {
		margin-right: 5px;
	}
	&-green {
		@include btn-color($color-3);
	}
	&-blue {
		@include btn-color($color-2);
	}
	&-red {
		@include btn-color($color-4);
	}
	&-dark-blue {
		@include btn-color($color-1);
	}
	@include theme(dark) {
		&-dark-blue {
			@include btn-color(lighten($color-1, 5%));
		}
	}
}

.button-list {
	text-align: center;
	.button {
		margin-bottom: 20px;
	}
}

.button-row {

	&:not(.button-dropdown) {
		.button-select-wrap {
			display: flex;
			.button {
				flex: 1 0 0;
				padding: 10px 0;
				margin: 0px 3px;
				font-size: 1rem;
			}
		}
	}
}

.button-select {
	position: relative;
	.button {
		@include btn-color(lighten($color-1, 5%));
		&[data-label] {
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom-width: 2px;
		}
	}
	&-option {
		@at-root :not(.button-dropdown) > .button-select-wrap > & {
			&.selected {
				cursor: default;
				@include btn-color($color-4);
				&.button-red {
					@include btn-color($color-4);
				}
				&.button-blue {
					@include btn-color($color-2);
				}
				&.button-green {
					@include btn-color($color-3);
				}
			}
		}
	}
	@media #{$mq-mediumScreen} {
		&-option {
			margin: 3px;
		}
		.button-select-wrap {
			display: block;
		}
	}
}

.button-dropdown {
	position: relative;
	display: block;
	width: 100%;
	&-toggle {
		display: none;
	}
	.button-dropdown {
		&-toggle {
			@extend .button-arrow-down;
			display: inline-block;
			//width: 100%;
		}
		&-wrap {
			position: absolute;
			//display: none;
			top: calc(100% - 17px);
			z-index: 30;
			background: $color-1;
			clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
			height: auto;
			//height: 0;
			max-height: 0;
			transition: max-height 0s 0.5s, clip-path 0.5s, opacity 0.5s;
			opacity: 0;
			display: block;
			width: auto;
			min-width: 100%;
			overflow: hidden;
			.button {
				width: 100%;
				display: block;
			}
			@supports (clip-path: none) {
				opacity: 1;
			}
			.button {
				margin: 0;
				border-bottom: 1px solid lighten($color-1, 15%);
				&[data-label] {
					cursor: default;
					padding-top: 10px !important;
					padding-bottom: 10px !important;
					border-bottom-width: 3px;
					background-color: lighten($color-1, 12%);
				}
			}
		}
	}
	&.open {
		overflow: visible;
		.button-dropdown-wrap {
			max-height: 1000px;
			opacity: 1;
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			transition-delay: 0s;
		}
		.button-dropdown-toggle {
			overflow: visible;
			&:after {
				content: '\f0d8';
			}
		}
	}
	@media #{$mq-mediumScreen} {
		display: inline-block;
		width: auto;
		&-toggle {
			margin-bottom: 20px;
		}
	}
}