.chapters {
	&-map {
		display: none;
	}
	&-select {
		padding: 20px;
		text-align: center;
		.button-dropdown {
			&-wrap {
				top: calc(100% + 3px);
			}
		}
		.button-select {
			.button {
				margin-bottom: 0;
			}
			&-toggle {
				text-align: left;
				font-weight: normal;
				text-transform: none;
			}
			&-option {
				text-align: left;
			}
		}
		h4 {
			display: none;
		}
		&-chapter {
			display: none;
		}
	}
	&-results {
		@extend %container;
		&-item {
			display: flex;
			border: 2px solid $color-1;
			align-items: center;
			margin: 15px 0;
		}
		&-icon {
			flex: 0 0 25%;
			height: 100%;
			position: relative;
			svg {
				width: 100%;
				height: 100%;
				.active {
					//filter: brightness(75%);
					filter: url(#svg-darken);
				}
			}
		}
		&-content {
			position: relative;
			z-index: 2;
			flex: 0 0 75%;
			padding: 20px 10px;
			$offset: 2;
			$radius: 2;
			text-shadow: -#{$offset}px -#{$offset}px #{$radius}px #fff, -#{$offset}px #{$offset}px #{$radius}px #fff, #{$offset}px #{$offset}px #{$radius}px #fff, #{$offset}px -#{$offset}px #{$radius}px #fff;
		}
		&-head {
			h4 {
				@include inline-bullets;
			}
		}
		&-affiliation {
			margin: 0;
		}
		&-contact {
			margin: 0;
			font-size: 0.875rem;
			span {
				display: block;

				.fa {
					margin-right: 5px;
					font-size: 1.3em;
					vertical-align: middle;
					display: inline-block;
				}
			}
			a {
				@extend .block-link;
				padding-bottom: 0;
				color: $color-1;
				vertical-align: middle;
				display: inline;
			}
		}
	}
	@media #{$mq-largeScreen} {
		&-map {
			display: block;
			svg {
				max-width: 600px;
				margin: auto;
				display: block;
				min-height: 650px;
				&:focus {
					outline: none;
					filter: drop-shadow(0 0 5px #000);
				}
				.chapter {
					transition: 0.2s;
				}

				.chapter-group {
					z-index: -1;
					position: relative;
					transform-origin: center;
					transform-box: fill-box;
					cursor: pointer;
					transition: 0.2s;
					&:focus {
						outline: none;
					}
					&.hovered {
						.chapter {
							fill-opacity: 1;
							stroke: #cdcdcd;
							stroke-width: 6px;
						}
					}
				}

				polygon, path {
					display: inline-block;
				}

				g a {
					display: inline-block;
				}

			}
			@supports (display: block) {
				svg {
					min-height: 0;
					.chapter-group.hovered { // IE renders shadow poorly and can't scale SVG elems
						transform: scale(1.005);
						filter: url(#svg-dropshadow);
						.chapter {
							stroke: #fff;
							stroke-width: 4px;
						}
					}
				}
			}
		}
		&-select {
			h4 {
				display: inline-block;
				margin: 0 20px;
				font-family: $font-1;
			}
			&-chapter {
				display: inline-block;
			}
			.button-select {
				min-width: 300px;
				.button-dropdown-toggle {
					width: 100%;
				}
			}
		}
		&-results {
			&-header {
				max-width: 50%;
			}
			&-item {
				display: inline-flex;
				width: 47.5%;
				margin: 1%;
			}

			&-icon {
				flex: 1 0 0;
				svg {
					height: 100%;
					max-width: 100%;
					width: auto;
					transform: scale(1.5);
				}
			}
			&-contact {
				span {
					display: inline-block;
					margin-right: 20px;
				}
			}
		}
	}
}