.columns {
	&-wrap {
		@extend %container;
	}
	@media #{$mq-mediumScreen} {
		&-body {
			display: flex;
		}
	}
}

.column {
	flex: 1 1 0;
	position: relative;
	z-index: 2;
	vertical-align: middle;
	margin-bottom: 20px;
	&-header {
		position: relative;
		//z-index: -1;
		h2 {
			position: absolute;			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
			color: #fff;
			width: 100%;
			text-align: center;
			z-index: 4;
			padding: 0 30px;
		}
		@include themable;
	}
	&-text {
		padding: 15px 20px 15px;
	}
	&-card {
		height: 100%;
		position: relative;
		@include bordered($color-1, 25);
	}
	@media #{$mq-mediumScreen} {
		margin-bottom: 0;
		&-header {
			h2 {
				top: calc(50% + 12.5px);
			}
		}
		&-text {
			padding: 15px 35px 15px;
		}
		&-card {
			padding: 0 10px;
			&:after {
				top: 15px;
				bottom: 0;
			}
		}
	}
	$columnsColors: ($color-4, $color-3, $color-2);
	@for $i from 1 through length($columnsColors) {
		$n: '3n - ' + (3-$i);
		$col: nth($columnsColors, $i);
		&:nth-child(#{$n}) {
			.column-card:not([class*=color-]) {
				.column-header {
					&:before, &:after {
						background-color: $col;
					}
				}
			}
		}
	}
}