.dining {
	&-search {
		background-color: rgba(255, 255, 255, 0.05);
		//display: none;
		&-wrap {
			align-items: center;
			text-align: center;
			p {
				font-weight: bold;
			}
		}
		&-form {
			padding: 15px 0;
			flex: 1 0 auto;
			position: relative;
			.form-field-text {
				margin: 0;
				position: relative;
				display: inline-block;
				width: calc(100% - 70px);
				vertical-align: middle;
				height: 100%;
				input {
					background-color: lighten($color-1, 10%);
					letter-spacing: 2px;
					text-decoration: none;
					font-family: $font-2;
					font-weight: bold;
					border: none;
					color: #fff;
					overflow: hidden;
					margin: 0;
					display: block;
					width: 100%;
				}
				.form-field-placeholder {
					color: #fff;
					font-weight: normal;
					&.mobile-only {
						font-style: italic;
					}
				}
			}
			.form-field-text {
			}
			button {
				//display: none;
				border: none;
				color: #fff;
				top: 50%;
				z-index: 5;
				position: relative;
				transform: none;
				font-size: 1rem;
				right: 0;
				background-color: lighten($color-1, 10%);
				display: inline-block;
				padding: 16px 10px;
				width: 60px;
				height: 100%;
				vertical-align: middle;
			}
		}
		&-advance {
			display: none;
			text-align: center;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: $color-1;
			z-index: 30;
			h3 {
				margin-bottom: 25px;
			}
			&-close {
				text-align: right;
				padding: 10px 0 20px;
				.fa {
					font-size: 2em;
				}
			}
			&-options {
			}
			&-option {
				display: block;
				margin: 7px 0;
				text-align: left;
				.button-dropdown {
					&-toggle {
						margin: 0;
						width: 100%;
						text-align: left;
						text-transform: none;
						font-weight: normal;
					}
					&-wrap {
						top: calc(100% + 3px);
					}
				}
				.form-field {
					margin: 0;
					&-check {
						.form-field-label {
							background-color: lighten($color-1, 5%);
							width: 100%;
							max-width: none;
							margin: 0;
							display: block;
							padding: 10px;
							border-bottom: 1px solid $color-1;
							.form-field-ui {
								background-color: $color-1;
								vertical-align: middle;
								margin-right: 15px;
							}
						}
					}
				}
			}
		}
	}
	&-criteria {
		text-align: center;
		&-label {
			display: inline-block;
			margin: 0;
			padding: 15px;
		}
		&-item {
			display: inline-block;
			padding: 10px;
			background: #ddd;
			text-transform: uppercase;
			font-family: $font-1;
			font-weight: bold;
			color: #555;
			margin: 5px;
			font-size: 0.875em;
			text-decoration: none;
			transition: 0.2s;
			vertical-align: middle;
			&:hover {
				text-decoration: none;
				background-color: $color-4;
				color: #fff;
			}
			&:before {
				@include fa-icon;
				@extend .fas;
				vertical-align: middle;
				content: fa-content($fa-var-times);
				font-weight: bold;
				margin-right: 5px;
			}
		}
	}
	&-list {
		display: none;
	}
	&-card {
		margin: 20px 0;
		&-header {
			color: #fff;
			background-color: $color-1;
			padding: 10px;
			.fa, .fab, h4, p {
				display: inline-block;
				vertical-align: middle;
				margin: 0 4px;
			}
			.fa, .fab {
				font-weight: normal;
			}
			p {
				font-size: 0.75em;
				text-transform: uppercase;
				font-weight: bold;
				&:before {
					content: '\2022';
					margin-right: 8px;
				}
			}
		}
		&-servsafe {
			cursor: pointer;
			width: 1.5em;
			float: right;
			//padding: 5px;
		}
		&-container {
			border: 2px solid $color-1;
		}
		&-body {
			display: none;
			padding: 10px;
			p {
				margin: 0 0 12px;
				a:not(.fa):not(.fab) {
					@extend .block-link;
					color: $color-1;
					padding-bottom: 0;
					display: inline;
				}
				.fa, .fab {
					padding: 0 5px;
					text-decoration: none;
					color: $color-1;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
			ul {
				@extend %list-reset;
				li {
					@include inline-bullets
				}
			}
			h4 {
				font-size: 1em;
				text-transform: uppercase;
			}
			p, ul {
				font-size: 0.875em;
				text-transform: uppercase;
				&.small {
					text-transform: none;
					font-size: 0.75em;
				}
			}
			&.active {
				display: block;
			}
		}
		&-menu, &-about {
			padding: 15px;
		}
		&-menu {
			background: $color-2;
			color: #fff;
		}
		&-about {
			background: $color-3;
			color: #fff;
		}
		&-tabs {
			&.button-select {
				margin: 10px 0;
				.button-select-toggle {
					display: none;
				}
				.button-select-wrap {
					//display: flex;
					justify-content: space-between;
					position: relative;
					opacity: 1;
					clip-path: none;
					.button {
						font-size: 1rem;
						display: inline-block;
						width: auto;
						border: none;
						padding: 5px 0;
						flex: 0 0 calc(33% - 5px);
						margin: 0 3px;
						&:first-child {
							margin-left: 0;
						}
						&:last-child {
							margin-right: 0;
						}
					}
				}
			}
		}
	}
	&-tooltip {
		//display: none;
		position: absolute;
		pointer-events: none;
		z-index: -1;
		top: 100%;
		left: 100%;
		opacity: 0.0001;
		padding-top: 25px; // invisible space so user can hover
		&:hover, &.hovered {
			pointer-events: auto;
			opacity: 1;
			z-index: 1;
		}
		&-wrap {
			max-width: 300px;
			padding: 15px;
			position: relative;
			background: #fff;
			border: 3px solid $color-2;
			&:after, &:before {
				content: '';
				bottom: 100%;
				left: 50%;
				border: solid transparent;
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			&:after {
				border-bottom-color: #fff;
				border-width: 10px;
				border-bottom-width: 15px;
				margin-left: -10px;
			}
			&:before {
				border-bottom-color: $color-2;
				border-width: 14px;
				border-bottom-width: 19px;
				margin-left: -14px;
			}

		}
		&-logo {
			text-align: center;
			padding-bottom: 5px;
			img {
				display: inline-block;
				width: 45%;
			}
		}
		&-text {
			font-size: 0.75em;
			line-height: 1.1;
		}
	}
	@media #{$mq-mediumScreen} {
		&-search {
			&-wrap {
				display: flex;
				width: 100%;
				justify-content: space-between;
			}
			&-form {
				padding: 0 25px;
			}
			&-advance {
				//display: none;
				position: relative;
				&-close {
					display: none;
				}
				&-option {
					width: 30%;
					display: inline-block;
					margin: 5px;
				}
				&-submit {
					display: inline-block;
					width: 30%;
					text-align: left;
					margin: 5px;
				}
			}
		}
		&-card {
			width: 30%;
			display: inline-block;
			margin: 1.5%;
			vertical-align: top;
			&-tabs {
				&.button-select {
					.button-select-wrap {
						.button {
							padding: 10px 0;
							margin: 0 3px;
						}
					}
				}
			}
		}
	}
}