.divider {
	@extend %container;
	text-align: center;
	padding-bottom: 0;
	&-container {
		@include themable;
		margin: 0;
		border: 2px solid $color-1;
		position: relative;
	}
	h2 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
		color: #fff;
		width: 100%;
		text-align: center;
		z-index: 4;
	}
}