.calendar {
	&-wrap {
		@extend %container;
	}
	&-header {
		&-top {
			@extend .theme-dark;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px;
		}
		&-title {
			margin: 0;
			text-align: center;
		}
		&-nav {
			padding: 10px;
			font-size: 1.5em;
			line-height: 0.5;
			vertical-align: middle;
			width: auto;
		}
	}
	&-legend {
		text-align: center;
		padding: 10px;
		background: lighten($color-1, 5%);
		h3 {
			font-size: 1em;
			color: #fff;
		}
		.button-select-wrap {
			display: flex;
			flex-wrap: wrap;
			.button {
				margin: 5px 0;
				padding: 5px;
				flex: 0 1 calc(50% - 5px);
				&:nth-child(odd) {
					margin-right: 10px;
				}
			}
		}
	}
	&-modal {
		&-copy {
			@include clearfix;
			padding: 15px;
		}
		&-image {
			max-width: 300px;
			//margin: 10px;
			float: right;
			margin-left: 20px;
		}
	}
	@media #{$mq-mobileOnly} {
		&-legend {
			.button-list {
				.button-select-wrap {
					.button {
						background-color: lighten($color-1, 10%);
					}
				}
			}
		}
	}
	@media #{$mq-mediumScreen} {
		&-header {
			margin-bottom: 20px;
			&-top {
				padding: 20px;
			}
		}
		&-legend {
			padding: 20px;
			h3, .button-list {
				display: inline-block;
			}
			h3 {
				font-size: 1.2em;
				margin-right: 10px;
			}
			.button-list {
				.button-select-wrap {
					display: inline-block;
				}
				.button {
					font-family: $font-1;
					padding: 15px 30px;
					pointer-events: none;
					margin: 0 5px;
					&:nth-child(odd) {
						margin-right: 5px;
					}
				}
			}
		}
	}
}

//region FC Month View (Desktop)
.fc { // FC uses .fc as a selector namespace so this is to ensure specificity
	.fc {
		&-day {
			//display: none;
			position: relative;
			span {
				position: absolute;
				font-family: $font-1;
				font-weight: bold;
				color: $color-1;
				text-transform: uppercase;
				bottom: 10px;
				right: 10px;
				letter-spacing: 2px;
			}
			&.fc-other-month {
				span {
					color: #999;
				}
			}
			&-number {
				color: transparent;
			}
			&-header {
				background: $color-1;
				color: #fff;
				font-family: $font-2;
				font-size: 1.5em;
				text-transform: uppercase;
			}
			&-grid-event {
				margin: 0;
				border-radius: 0;
				border: none;
				text-align: center;
				padding: 10px;
				font-weight: bold;
				&.event-holiday {
					background-color: transparent;
					color: $color-1;
					font-weight: bold;
				}
			}
		}
		&-content {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
		&-week {
			.fc-day {
				background-color: #fff;
				&:nth-of-type(even) {
					background-color: #eee;
				}
			}
			&:nth-of-type(even) {
				.fc-day {
					background-color: #eee;
					&:nth-of-type(even) {
						background-color: #fff;
					}
				}
			}
		}
		&-body {
			border: 1px solid #eee;
			td, th, tbody {
				border: none;
			}
		}
		&-head {
			td, th, tbody {
				border: none;
			}
		}
		&-popover {
			.fc-widget-header {
				@extend .theme-dark;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.fc-close {
					padding: 2px 1px;
					float: none;
					order: 2;
					background-color: $color-4;
					color: #fff;
				}
			}
		}
	}
}

//endregion

//region List view (Mobile)
.fc {
	.fc {
		&-view {
			border: none;
		}
		&-list {
			&-table {
				tbody {
					border: none;
				}
				.fc {
					&-widget {
						&-header {
							text-align: center;
							background: $color-1;
							color: #fff;
							font-family: $font-2;
							letter-spacing: 2px;
							border: none;
							display: block;
							margin-top: 20px;
							.fc-list-heading-alt {
								float: none;
								text-transform: uppercase;
							}
						}
					}
				}
			}
			&-item {
				&-heading {
					display: block;
					position: relative;
				}
				&-time {
					display: none;
				}
				&-marker {
					display: none;
				}
				&-title {
					text-align: center;
					border: none;
					a:hover {
						text-decoration: none;
					}
				}
				&.event-holiday {
					display: none;
				}
				&:hover {
					td {
						background-color: rgba(0, 0, 0, 0.1);
					}
				}
				+ .fc-list-item {
					border-top: 1px dashed rgba(#fff, 0.5);
				}
			}
			&-empty-wrap2 {
				position: relative;
			}
			&-empty {
				padding: 20px 0 0;
				font-size: 1.2em;
				background-color: transparent;
				color: $color-1;
				font-weight: bold;
				font-family: $font-1;
			}
		}
	}
}