.footer {
	@extend .theme-dark;
	clear: both;
	text-align: center;
	padding: 30px 20px 70px;
	border-top: 3px solid #fff;
	span {
		display: block;
	}
	&-social {
		font-size: 1.5em;
		margin: 0 0 20px;
		> a {
			padding: 5px;
		}
	}
	&-links {
		margin-bottom: 20px;
		.block-link {
			margin: 0 15px;
		}
	}
	&-credit {
		a {
			margin-bottom: 5px;
		}
	}
	@media #{$mq-mediumScreen} {
		padding-bottom: 30px;
		text-align: left;
		span {
			display: inline;
		}
		&-top {
			margin-bottom: 20px;
		}
		&-bottom {
			@include clearfix;
		}
		&-contact, &-social, &-links, &-copyright, &-credit {
			display: inline-block;
			margin: 0;
		}
		&-phone {
			margin-left: 10px;
		}
		&-credit {
			float: right;
		}
		&-links {
			.block-link {
				margin: 0 5px;
			}
		}
		&-social {
			vertical-align: middle;
			margin: 0;
			padding: 0 10px;
			a {
				//display: inline-block;
				//vertical-align: middle;
			}
		}
	}
}

.mobile-buttons {
	display: flex;
	position: fixed;
	bottom: 0;
	justify-content: space-between;
	width: 100%;
	z-index: 20;
	.button {
		width: auto;
		flex: 1 1 auto;
		padding: 10px;
		text-align: center;
	}
	@media #{$mq-largeScreen} {
		display: none;
	}
}