form {
	.columns-wrap {
		padding: 0;
		.column {
			margin: 0;
		}
	}
	@media #{$mq-mediumScreen} {
		.columns-wrap {
			.column {
				&:first-child {
					padding-right: 15px;
				}
			}
		}
	}
}

.form-field {
	position: relative;
	margin: 15px 0;
	@include theme(dark) {
		&-text {
			input, textarea {
				color: #fff;
				border-color: lighten($color-1, 25%);
				background-color: lighten($color-1, 10%);
			}
		}
		.form-dropdown {
			.button-dropdown-toggle {
				color: #fff;
				border-color: lighten($color-1, 25%);
				background-color: lighten($color-1, 10%);
			}
		}
		&-label {
			color: #fff;
		}
		&-check, &-radio {
			.form-field-ui {
				background-color: lighten($color-1, 10%);
			}
		}
		&-radio {
			.form-field-ui {
				&:before {
					background-color: #fff;
				}
			}
		}
	}
	&-text {
		overflow: hidden;
		input, textarea {
			position: relative;
			z-index: 2;
			display: block;
			padding: 22px 10px 8px;
			border: 2px solid #ddd;
			font-family: $font-1;
			font-size: 1rem;
			max-width: none;
			width: 100%;
			//letter-spacing: 1px;
			letter-spacing: 0.5px;
			&::placeholder {
				opacity: 0;
			}
		}
		textarea {
			min-height: 60px;
			height: 150px;
			max-height: 360px;
			resize: vertical;
		}
		//&:after { // Required Label - enable after parsley/validation implementation
		//	content: 'Required';
		//	position: absolute;
		//	z-index: 5;
		//	bottom: 0;
		//	right: 0;
		//	font-size: 0.75em;
		//	text-transform: uppercase;
		//	padding: 2px 5px;
		//	background: $color-2;
		//}
	}
	&-label {
		display: block;
		color: $gray;
		font-size: 1.2em;
		line-height: 1;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-weight: bold;
	}
	&-placeholder {
		//background: #fff;
		position: absolute;
		padding: 0;
		left: 17px;
		top: 50%;
		text-transform: none;
		transform: translateY(-50%);
		font-size: 1rem;
		transform-origin: top left;
		border-radius: 5px;
		transition: 0.5s;
		z-index: 3;
	}
	&.focused, &.not-empty {
		.form-field-placeholder {
			top: 10px;
			left: 12px;
			transform: none;
			font-size: 0.7rem;
			opacity: 0.75;
		}
	}
	&-select {
		.button-dropdown {
			width: 100%;
			.button-dropdown-toggle {
				text-transform: none;
				width: 100%;
				margin-bottom: 0;
				text-align: left;
				padding: 24px 12px 8px;
			}
			.button-dropdown-wrap {
				top: 100%;
				top: calc(100% + 3px);
				text-align: left;
				.button-select-option {
					text-transform: none;
					padding: 15px 17px;
					text-align: left;
				}
			}

		}

		.form-field-placeholder {
			color: #ffffff;
		}
	}
	&-textarea {
		.form-field-placeholder {
			transform: none;
			top: 17px;
		}
	}
	&-check, &-radio {
		input {
			position: absolute;
			//top: -9999px;
			left: -9999px;
			&:focus {
				~ .form-field-ui {
					border-color: #fff;
				}
			}
		}
		.form-field-label {
			display: inline-block;
			font-size: 1rem;
			font-weight: normal;
			text-transform: none;
			margin-left: 5px;
			vertical-align: top;
			color: inherit;
			max-width: calc(100% - 1.3em - 5px);
		}
	}
	&-ui {
		position: relative;
		width: 1em;
		height: 1em;
		display: inline-block;
		background: #ddd;
		vertical-align: baseline;
		border: 2px solid transparent;
	}
	&-check {
		input {
			&:checked {
				~ .form-field-ui {
					&:before {
						content: '\2713';
						position: absolute;
						bottom: -0.1em;
						left: -0.125em;
						line-height: 1;
						//transform: translateX(-50%);
						font-size: 2em;
					}
				}
			}
		}
	}
	&-radio {
		.form-field-ui {
			border-radius: 10px;
			&:before {
				border-radius: 10px;
				//background: $gray;
				background: currentColor;
				position: absolute;
				top: 50%;
				left: 50%;
				line-height: 1;
				transform: translate(-50%, -50%);
				width: 50%;
				height: 50%;
			}
		}
		input {
			&:checked {
				~ .form-field-ui {
					&:before {
						content: '';
					}
				}
			}
		}
	}
}

.form-list {
	.form-field {
		vertical-align: top;
		//margin: 0;
		display: inline-block;
		width: 49%;
	}
}