/* Text with icon to the left (for Utility Nav and Footer) */

.icon-text {
	.fa,.far,.fas,.fab, p {
		display: inline-block;
		vertical-align: text-top;
		text-align: left;
	}
	.fa,.far,.fas,.fab {
		padding: 5px;
		font-size: 1.7em;
		color: $color-2;
	}
	a {
		text-decoration: none;
	}
	span {
		display: block;
	}
	@media #{$mq-mediumScreen} {
		text-align: left;
		span {
			@include inline-bullets;
		}
		.fa,.far,.fas,.fab, p {
			vertical-align: middle;
			margin: 0;
		}
	}
}