.gmodal {
	&-overlay {
		position: fixed;
		display: none;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.5);
		z-index: 360;
		&.gmodal-open {
			display: block;
		}
	}
	&-container {
		@extend %container;
		max-width: 800px;
		height: 100%;
	}
	&-header {
		@extend .theme-dark;
		@include clearfix;
		flex: 0 0 auto;
		padding: 5px 5px 5px 10px;
		h4 {
			float: left;
		}
	}
	&-close {
		padding: 0 5px;
		background: $color-4;
		float: right;
		&:hover {
			background: darken($color-4, 5%);
			.fas {
				color: #fff;
			}
		}
	}
	&-body {
		flex: 1 0 auto;
		background: #fff;
		overflow-y: auto;
		max-height: 80vh;
	}
	&-copy {
		padding: 10px 0;
	}
}