.nav {
	position: absolute;
	width: 100%;
	right: -100%;
	transition: right 0.5s linear;
	&-list {
		@extend %list-reset;
		margin: 0;
	}
	&-item {
		position: relative;
		flex: 1 0 auto;
		> .nav-list {
			display: none; // using height instead of display so JS has access to width
			&.show-menu {
				display: block;
			}
		}
		border-bottom: 0 solid;
		&:not(:last-child) {
			border-width: 1px;
		}
		&.has-child {
			> .nav-link {
				> .nav-child-indicator {
					&:before {
						content: '+';
						display: inline-block;
						transition: transform 0.5s;
					}
					font-size: 2em;
					position: absolute;
					top: 0;
					right: 0;
					padding: 0 15px;
					color: #fff;
					text-align: center;
					background: $color-1;
					max-height: 100%;
				}
			}
			&.open {
				> .nav-link {
					> .nav-child-indicator {
						&:before {
							transform: rotate(45deg);
						}
					}
				}
			}
		}
		&-l1 {
			border-width: 1px;
			border-color: #fff;
			&.open {
				> .nav-link {
					color: #fff;
					background: $color-4;
					> .nav-child-indicator {
						background: darken($color-4, 15%);
					}
				}
			}
		}
		&-l2 {
			border-color: lighten($color-1, 20%);
		}
		&-l3 {
			border-color: lighten($color-4, 20%);
		}
	}
	&-link {
		display: block;
		font-family: $font-2;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 2px;
		color: #fff;
		font-weight: bold;
		padding: 10px 20px;
		&:hover {
			text-decoration: none;
		}
		&:focus {
			outline: none;
			text-decoration: underline;
		}
		&-l1 {
			color: $color-1;
			background: #fff;
		}
		&-l2, &-l3 {
		}
		&-l2 {
			background: lighten($color-1, 10%);
			&:hover, &:focus {
				background: $color-1;
				color: #fff;
			}
		}
		&-l3 {
			background: $color-4;
			&:hover, &:focus {
				background: darken($color-4, 5%);
				color: #fff;
			}
		}
	}
	&-toggle {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		color: $color-1;
		z-index: 15;
		.fa {
			font-size: 3em;
		}
	}
	.util {
		display: block; // JS will drop this div into here on mobile
	}
	@media #{$mq-largeScreen} {
		right: auto;
		position: relative;
		float: right;
		display: inline-block;
		width: 80%;
		&-list {
			&-l1 {
				display: flex;
				justify-content: space-around;
			}
			&-l2, &-l3 {
				position: absolute;
				min-width: 100%;
				width: 300px;
				&.float-left {
					right: 0;
				}
			}
			&-l3 {
				top: 0;
				left: 100%;
				&.float-left {
					left: auto;
					right: 100%;
				}
			}
		}
		&-item {
			> .nav-list {
				display: block;
				height: 0;
				overflow: hidden;
				&.show-menu {
					height: auto;
					overflow: visible;
				}
			}
			&-l3 {
			}
			&-l2 {
				&.has-child {
					@include list-arrow;
					&:before {
						border-left-color: #fff;
						border-left-width: 7.5px;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: calc(100% - 20px);
						z-index: 100;
						transition: left 500ms;
					}
					&:hover {
						&:before {
							left: 100%;
						}
					}
					&.child-left {
						&:before {
							left: auto;
							right: calc(100% - 13px);
							border-left-color: transparent;
							border-right-color: #fff;
							transition: right 500ms;
							margin-right: 0;
						}
						&:hover {
							&:before {
								right: 100%;
							}
						}
					}
				}
			}
			&-l1 {
				border-style: none;
				&:hover, &.active {
					.nav-link:before {
						transition: width 300ms, opacity 300ms;
						width: 100%;
						opacity: 1;
					}
				}
				&.open {
					> .nav-link {
						color: $color-1;
						background: #fff;
					}
				}
			}
		}
		&-link {
			height: 100%;
			vertical-align: middle;
			display: flex;
			justify-content: center;
			flex-direction: column;
			.nav-child-indicator {
				display: none;
			}
			&-l1 {
				color: $color-1;
				text-align: center;
				padding: 30px 0;
				&:before {
					content: '';
					height: 5px;
					width: 20%;
					opacity: 0;
					display: block;
					background: $color-4;
					position: absolute;
					bottom: 0;
					left: 50%;
					transition: width 0s 300ms, opacity 300ms;
					transform: translateX(-50%);
				}
			}
		}
		&-toggle {
			display: none;
		}
	}
}

.navbar {
	//overflow-x: hidden;
	position: relative;
	z-index: 30;
	@include clearfix;
	&-branding {
		position: relative;
		padding: 12px;
		z-index: 12;
		box-shadow: 0 0 10px rgba(#000, 0.2);
	}
	&-logo {
		width: 100%;
		img, svg {
			display: block;
			height: 50px;
			width: auto;
		}
	}
	&.nav-open {
		.nav {
			right: 0;
			&-toggle {
				.fa {
					&:before {
						content: '\f00d';
					}
				}
			}
		}
	}
	@media #{$mq-largeScreen} {
		&-branding {
			display: inline-block;
			width: 20%;
			padding: 25px;
			box-shadow: none;
		}
		&-logo {
			position: absolute;
			top: 0;
			left: 25px;
			background: #fff;
			padding: 10px;
			//width: 100%;
			img, svg {
				height: auto;
				width: auto;
				max-width: 100%;
			}
		}
	}
}

.skip-nav {
	display: none;

	@media #{$mq-largeScreen} {
		display: block;
		text-transform: uppercase;
		font-family: $font-2;
		font-weight: 400;
		color: $color-1;
		outline: none;
		letter-spacing: 2px;
		font-size: 0.7em;
		padding: 20px 13px 5px;
		position: absolute;
		top: -15px;
		left: 0;
		z-index: 15;
		transform: translateY(-100%);
		background-color: #fff;
		text-decoration: underline;
		transition: transform 1s;

		&:link, &:visited, &:hover {
			color: $color-1;
		}

		&:focus {
			transform: translateY(0);
		}
	}
}