.news {
	&-filter {
		@extend %container;
		padding: 20px;
		text-align: center;
		.button-dropdown {
			margin-top: 20px;
			&-wrap {
				top: calc(100% + 3px);
			}
		}
		.button-select {
			.button {
				margin-bottom: 0;
			}
			&-toggle {
				text-align: left;
				font-weight: normal;
				text-transform: none;
			}
			&-option {
				text-align: left;
			}
		}
	}
	&-list {
		@extend %container;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-left: 0;
		padding-right: 0;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	&-item {
		display: block;
		flex: 0 0 calc(100% - 40px);
		//width: 100%;
		padding: 15px 20px 25px 15px;
		text-decoration: none;
		//white-space: nowrap;
		line-height: 1.75;
		border: 2px solid $color-1;
		color: $color-1;
		margin-bottom: 15px;
		backface-visibility: hidden;
		transition: all 0.6s;

		&-enter,
		&-leave-to {
			opacity: 0;
			transform: scale(0.8)
		}

		&-move {
			position: absolute;
		}

		&:hover {
			text-decoration: none;
		}
		&:nth-child(even) {
			background-color: $light-gray;
		}

		&:before {
			content: '';
			width: 0;
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
		&-wrap {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
	}
	&-content {
		white-space: normal;
		display: inline-block;
		width: 80%;
		vertical-align: top;
		h4 {
			margin: 0;
			color: #000;
			font-family: $font-2;
		}
		h3 {
			@at-root a & {
				@extend .block-link;
				display: inline;
			}
			font-size: 1rem;
			color: $color-1;
			hyphens: auto;
		}
		h5 {
			font-size: 0.75rem;
			color: $gray;
		}
		p {
			color: #000;
			font-size: 0.85rem;
			margin: 5px 0;
			a {
				font-weight: bold;
			}
		}
	}
	&-icon {
		display: inline-block;
		vertical-align: top;
		font-size: 1.75em;
		padding: 2px;
		width: 12%;
		line-height: 1;
	}
	&-vue {
		.loader {
			svg path,
			svg rect{
				fill: $color-1;
			}
		}
	}
	@media #{$mq-largeScreen} {
		&-container {
			.divider-container {
				$margin: 4%/6;
				margin: 0 #{$margin};
			}
		}
		&-filter {
			h3 {
				display: inline-block;
				margin-right: 20px;
			}
			.button-dropdown {
				margin-top: 0;
			}
			.button-select {
				min-width: 300px;
				.button-dropdown-toggle {
					width: 100%;
				}
			}
		}
		&-list {
			@include clearfix;
			width: 100%;
			padding: 20px;
			justify-content: flex-start;
		}
		&-item {
			height: 128px;
			display: block;
			margin: calc(2% / 3);
			flex: 0 0 32%;
		}
	}
}