.page-header {
	position: relative;
	z-index: 20;
}
//backface-visibility: hidden;
.ql {
	&-wrapper {
		position: relative;
		background: $color-1;
		padding: 20px;
		z-index: 30;
	}
	&-tabs {
		display: none;
	}
	&-toggle {
		@extend .button-arrow-down;
		@include btn-color(lighten($color-1, 10%));
		//margin: 0;
		margin-top: 0;
		margin-bottom: 0;
		text-align: left;
		padding: 15px;
		text-transform: none;
		font-size: 1rem;
		font-weight: normal;
		&:after {
			text-align: center;
			border-color: $color-1;
		}
	}
	&-container {
		display: block;
		position: relative;
		&.open {
			overflow: visible;
			.ql-dropdown {
				opacity: 1;
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			}
			.ql-toggle {
				overflow: visible;
				&:after {
					content: '\f0d8';
				}
			}
		}
	}
	&-dropdown {
		background-color: lighten($color-1, 10%);
		// TODO: Magic to show on click
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		transition: clip-path 0.5s, opacity 0.5s;
		opacity: 0;
		position: absolute;
		width: 100%;
		left: 0;
		top: 100%;
		z-index: 15;
		@supports (clip-path: none) {
			opacity: 1;
		}
	}
	&-quick-links {
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			border-top: 2px solid $color-1;
			text-indent: 0;
			a {
				display: block;
				padding: 15px;
				font-weight: bold;
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-family: $font-2;
			}
			&:before {
				content: none;
			}
		}
	}
	&-search {
		background-color: transparent;
		padding: 15px;
		position: relative;
		.form-field-text {
			margin: 0;
			position: relative;
			display: block;
			width: 100%;
			input {
				//background-color: lighten($color-1, 10%);
				background-color: lighten($color-1, 5%);
				//padding: 15px 20px;
				letter-spacing: 2px;
				text-decoration: none;
				font-family: $font-2;
				font-weight: bold;
				border: none;
				color: #fff;
				overflow: hidden;
				margin: 0;
				display: block;
				width: 100%;
			}
			.form-field-placeholder {
				color: #fff;
				font-weight: normal;
				&.mobile-only {
					font-style: italic;
				}
			}
		}
		button {
			//display: none;
			background-color: transparent;
			border: none;
			color: #fff;
			position: absolute;
			top: 50%;
			right: 25px;
			font-size: 1.5em;
			transform: translateY(-50%);
			z-index: 5;
		}
	}
	&-buttons {
		padding: 0 15px 15px;
	}
	&-button-row {
		display: flex;
		padding: 6px 0 0;
		.button {
			padding: 15px 0;
			flex: 1 1 0;
			margin: 0 3px;
			text-align: center;
			&:first-of-type {
				margin-left: 0;
			}
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
	@media #{$mq-mediumScreen} {
		&-wrapper {
			position: absolute;
			background-color: transparent;
			bottom: 0;
			right: 7vw; // About 100px @ 1440
			padding: 0;
		}
		&-tabs {
			margin-right: 40px;
			display: block;
		}
		&-tab {
			padding: 10px 30px;
			display: inline-block;
			background: $color-4;
			color: #fff;
			text-decoration: none;
			&.active {
				background: $color-1;
			}
		}
		&-toggle {
			display: none;
		}
		&-dropdown {
			display: block;
			//min-width: 390px;
			background-color: transparent;
			opacity: 1;
			clip-path: none;
			&-content {
				display: none;
				&.active {
					display: block;
				}
			}
		}
		&-quick-links {
			background: $color-1;
			li {
				border-color: lighten($color-1, 10%);
				a {
					@include list-arrow($color-2);
					&:hover {
						background: rgba(#000, 0.25);
						&:before {
							border-left-color: #fff;
						}
					}
					&:focus {
						outline: none;
						text-decoration: underline;
					}
				}
			}
		}
		&-buttons {
			padding: 0;
		}
		&-search {
			background: $color-1;
			.form-field-text {
				display: inline-block;
				width: 78%;
				vertical-align: middle;
				height: 100%;
				input {
					background-color: lighten($color-1, 10%);
				}
				.form-field-placeholder {
				}
			}
			button {
				position: relative;
				transform: none;
				font-size: 1rem;
				right: 0;
				background-color: lighten($color-1, 10%);
				display: inline-block;
				padding: 16px 10px;
				width: 20%;
				border: none;
				height: 100%;
				vertical-align: middle;
				.fa {
					display: none;
				}
				&:after {
					content: '\25BA';
				}
			}
		}
		&-request {
			padding: 15px;
			.form-field {
				&-text {
					margin: 0 0 15px;
					input {
						display: block;
						width: 100%;
					}
				}
			}
			.button {
				display: block;
				width: 100%;
				margin: 0;
			}
			&-label {
				font-weight: bold;
				font-family: $font-2;
				letter-spacing: 2px;
				text-transform: uppercase;
				margin: 0;
			}
			.form-list {
				.form-field-label {
					margin: 0;
					font-size: 0.875em;
				}
			}
		}
	}
}