.read-more {
	&-wrapper {
		.button {
			margin-top: 20px;
		}
	}
	@media #{$mq-mobileOnly} {
		&-content {
			position: relative;
			transition: height 0.5s;
			overflow: hidden;
				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 0;
					transition: height 0.5s;
					background-image: linear-gradient(to top, #fff, rgba(#fff, 0));
				}
			&[aria-expanded=false] {
				&:after {
					height: 40px;
				}
			}
		}
	}
}