
.ui-autocomplete {
	@extend %list-reset;
	background-color: $color-1;
	.ui-menu-item {
		padding: 10px;
		border-top: 1px dashed rgba(#fff, 0.5);
		a {
			color: #fff;
		}
	}
}

.search-results {
	clear: none;

	.sf-media {
		position: relative;
		padding: 30px 0;
		border-bottom: 1px dashed $gray;
		overflow: hidden; // Float + borders
	}

	.pagination {
		@extend %list-reset;
		text-align: center;
		li {
			@include inline-bullets;
			a {
				text-decoration: none;
				color: $color-1;
			}
			&.active {
				a {
					font-weight: bold;
					padding: 5px;
				}
			}
		}
	}
}