.team {
	&-wrap {
		@extend %container;

	}
	&-list {
	}
	&-item {
		width: 100%;
		position: relative;
		margin-bottom: 20px;
		&-gutter {
			width: 1%;
		}
		&:nth-child(3n - 2) {
			.team-member-info {
				background: $color-3;
				&:after {
					background-image: linear-gradient(to top, $color-3, transparent);
				}
			}
		}
		&:nth-child(3n - 1) {
			.team-member-info {
				background: $color-4;
				&:after {
					background-image: linear-gradient(to top, $color-4, transparent);
				}
			}
		}
		&:nth-child(3n) {
			.team-member-info {
				background: $color-2;
				&:after {
					background-image: linear-gradient(to top, $color-2, transparent);
				}
			}
		}
	}
	&-select {
		.button {
			margin-bottom: 0;
		}
	}
	&-member {
		position: relative;
		&-info {
			padding: 10px;
			min-height: 76px;
			bottom: 0;
			left: 0;
			width: 100%;
			@include clearfix;
		}
		&-details {
			display: inline-block;
			max-width: 80%;
			float: left;
			color: #fff;
			&-full {
				max-width: 100%;
			}
		}
		&-name {
			font-size: 1rem;
			color: #fff;
			margin: 0 0 5px;
		}
		&-title, &-subtitle {
			font-size: 1rem;
			line-height: 1;
			margin: 0;
		}
		&-title {
			font-weight: bold;
		}
		&-subtitle {
			margin-top: 5px;
		}
		&-contact {
			display: inline-block;
			max-width: 20%;
			float: right;
			padding: 10px;
			font-size: 1.5em;
			.fa {
				color: #fff;
			}
		}
	}
	@media #{$mq-mediumScreen} {
		&-item {
			display: inline-block;
			width: 23%;
			margin: 1%;
		}
		&-member {
			min-height: 76px;
			&-info {
				position: absolute;
				max-height: 76px;
				transition: max-height 1s;
				overflow: hidden;
				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1rem;
					transition: opacity 1s;
				}
			}
			&:hover {
				.team-member-info {
					max-height: 200px;
					&:after {
						opacity: 0;
					}
				}
				&-photo {
					.team-member-info {
						max-height: 50%;
					}
				}
			}
		}
	}
}