.util {
	@include clearfix;
	@extend .theme-dark;
	padding: 20px 20px 20px 30px;
	text-align: center;
	display: none;
	&-contact-wrap {
		display: inline-block;
		text-align: left;
	}
	&-buttons {
		display: none;
		.button {
			padding: 10px 20px;
			margin: 0;
			overflow: visible;
		}
	}
	@media #{$mq-largeScreen} {
	padding: 0 20px 0 30px;
		text-align: left;
		display: block;
		&-contact {
			display: inline-block;
			margin-right: 20px;
		}
		&-hours {
			display: inline-block;
		}
		&-buttons {
			display: block;
			float: right;
		}
	}
}