.iframe {
	&-container {
		@extend %container;
	}
	&-video {
		height: 0;
		padding-bottom: ratio(9/16);
		position: relative;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}
	@media #{$mq-largeScreen} {
		&-container {
			padding: 30px;
			max-width: 800px;
		}
	}
}

.embed-video {
	video {
		width: 100%;
		height: auto;
	}
}