html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	line-height: 1.5;
	letter-spacing: 0.5px;
}

html {
	font-family: $font-1;
	font-size: 16px; // Base
}

body {
	overflow-x: hidden;
}

*, *:before, *:after {
	box-sizing: border-box;
	flex: 0 1 auto; // Resets IE 10's defaults
}

* { // Fixes flex + slick issues. Not sure how, but it works and at this point I don't care enough to look into this any further
	min-height: 0;
	min-width: 0;
}

h1, h2 {
	font-family: $font-2;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 0.1em;
	margin: 0 0 1rem;
	line-height: 1.1;
	color: $color-1;
	font-size: 1.5rem;
	@media #{$mq-mediumScreen} {
		font-size: 2rem;
	}
}

h3 {
	font-family: $font-1;
	font-size: 1.2rem;
	text-transform: uppercase;
	//font-weight: normal;
	letter-spacing: 1px;
	margin: 0 0 0.5rem;
	line-height: 1;
	color: $gray;
}

h4, h5, h6 {
	font-family: $font-1;
	font-size: 1rem;
	margin: 0;
}

p, ul, ol {
	font-size: 1rem;
	margin: 0 0 1rem;
	&:last-child {
		margin-bottom: 0;
	}
}

h1, h2, h3, h4, h5, h6,
p,
ol, ul {
	a {
		&:hover {
			color: $color-1;
		}
	}
}

img {
	display: block;
	width: 100%;
	&.captcha-image {
		width: auto;
	}
}

ul {
	text-align: left;
	padding: 0 0 0 27px;
	list-style-type: none;
	li {
		margin-bottom: 10px;
		text-indent: -26px;
		@include list-arrow;
	}
}

li {
	break-inside: avoid;
	page-break-inside: avoid;
}

a {
	color: $color-2;
	font-weight: bold;
	&:hover, &:focus {
		text-decoration: underline;
	}
	&.fa {
	}
}

.block-link {
	letter-spacing: 1px;
	display: inline-block;
	text-decoration: none;
	padding: 3px 0;
	text-transform: uppercase;
	font-family: $font-2;
	font-weight: bold;
	border-bottom: 2px solid $color-4;
	transition: border-width 0.1s;
	&:hover, &:focus {
		text-decoration: none;
		border-width: 3px;
	}
}

label, button, input[type=button], input[type=submit] {
	cursor: pointer;
}