.centered {
	text-align: center;
}

.sr-only {
	@include sr-only;
}

@media #{$mq-mediumScreen} {
	.mobile-only {
		display: none !important;
	}
}

@media #{$mq-mobileOnly} {
	.mobile-hide {
		display: none !important;
	}
}