.section {
	display: block;
	clear: both;
	&:before, &:after { // Clearfix to prevent margin collapse.
		content: ' ';
		display: table;
	}
	%container, .section {
		clear: none;
	}
}

.container {
	@extend %container;
}

#main {
	padding-top: 20px;
}

.breadcrumbs-wrap + #main {
	padding-top: 0;
}

// This adds a ghost element to make the text in the first intro copy section float around the floating search module.
@include isEditing(false) {
	#search-ghost {
		display: none;
		@media #{$mq-mediumScreen} {
			display: block;
			float: right;
			width: calc(394px + 7vw); // Intended padding (50px) + Width of search module (344) + Right offset (7vw)
			//height: 400px; // Arbitrary value this seems to work out so far.
		}
		.breadcrumbs-wrap + #search-ghost {
			//height: 340px;
		}
	}
}

.two-column {
	columns: 2;
}

.intro-container {
	@extend %container;
	clear: none;
	.intro-content {
		overflow: hidden;
		> %container {
			padding-left: 0;
			padding-right: 0;
		}
	}
	@media #{$mq-mediumScreen} {
		.intro-content {
			overflow: visible;
		}
	}
}