.rmRootGroup, .rpRootGroup, .rtbUL, .rdCommands, .sfInlineEditingActionsList, .k-editor-toolbar, .rmActive, .modal-dialog ul, .sfContentMenuList, .k-list.k-reset {
	@extend %list-reset;
}

.sf-backend-wrp .form-group .radio {
	position: static;
}