.theme {
	&-dark {
		background: $color-1;
		color: #fff;
		h1, h2, h3, h4, h5, h6, a {
			color: #fff;
		}
		h1, h2, h3, h4, h5, h6,
		p,
		ol, ul {
			a {
				&:hover {
					color: $color-2;
				}
			}
		}
		ul {
			li {
				&:before {
					border-left-color: #fff;
				}
			}
		}
		.button {
			&-arrow {
				&:after {
					border-color: $color-1;
				}
			}
		}
		a:not(.button) {
			color: #fff;
			&:hover {
				color: $color-2;
			}
		}
	}
}