@mixin largeScreen {
	@media only screen and (min-width: 767px) {
		@content;
	}
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin inline-bullets {
	display: inline-block;
	&:nth-last-of-type(n+2) {
		&:after {
			content: ' \2022';
		}
	}
}

@mixin theme($theme) {
	@at-root .theme-#{$theme} & {
		@content
	}
}

@mixin sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

@mixin list-arrow($color: $color-4) {
	&:before {
		content: '';
		display: inline-block;
		position: relative;
		height: 0;
		margin-right: 10px;
		border: 7.5px solid transparent;
		border-left: 10px solid $color;
	}
}

@mixin themable($target: '') {
	img {
		position: relative;
		z-index: 2;
		opacity: 0.1;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		//mix-blend-mode: multiply;
		z-index: 1;
	}

	@supports (object-fit: inherit) {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	@supports (mix-blend-mode: color) {
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			mix-blend-mode: color;
			opacity: 1;
			z-index: 3;
		}
	}
	&[style*="background-image"] {
		&:before {
			opacity: 0.90;
		}
		&:after {
			content: none;
		}
	}
	@at-root #{$target}.color-green & {
		&:before, &:after {
			background-color: $color-3;
		}
	}
	@at-root #{$target}.color-blue & {
		&:before, &:after {
			background-color: $color-2;
		}
	}
	@at-root #{$target}.color-red & {
		&:before, &:after {
			background-color: $color-4;
		}
	}
	@at-root #{$target}.color-dark & {
		&:before, &:after {
			background-color: $color-1;
		}
	}
}

@mixin bordered($default: $color-4, $offset: 15) {
	position: relative;
	&:after {
		content: '';
		z-index: 12;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: 2px solid $default;
		pointer-events: none;
	}
	&.border-green {
		&:after {
			border-color: $color-3;
		}
	}
	&.border-blue {
		&:after {
			border-color: $color-1;
		}
	}
	&.border-red {
		&:after {
			border-color: $color-4;
		}
	}
	@at-root .theme-dark & {
		outline-color: #fff;
	}
	@media #{$mq-mediumScreen} {
		&:after {
			top: #{$offset}px;
			right: #{$offset}px;
			bottom: #{$offset}px;
			left: #{$offset}px;
		}
	}
}

@mixin isEditing($mode : true) {
	$selector: '';
	@if $mode == true {
		$selector: 'body.sfPageEditor';
	} @else {
		$selector: 'body:not(.sfPageEditor)';
	}

	@if & {
		@at-root #{$selector} & {
			@content;
		}
	} @else {
		#{$selector} {
			@content;
		}
	}
}