%container {
	clear: both;
	max-width: 1350px;
	padding: 20px;
	margin: auto;
	position: relative;
	@media #{$mq-mediumScreen} {
		padding: 20px;
	}
}

%list-reset {
		padding: 0;
		list-style-type: none;
		li {
			margin-bottom: 0;
			text-indent: 0;
			&:before {
				content: none;
			}
		}
}