// region Colors

$color-1: #002e4a;
$color-2: #1b9edb;
$color-3: #7cbd4a;
$color-4: #e43535;

$gray: #969696;
$light-gray: #e9e9e9;

// endregion

// region Fonts

$font-1: 'PT Sans', sans-serif;
$font-2: 'PT Sans Narrow', sans-serif;

// endregion

//region Media Queries
$mq-mobileOnly: "only screen and (max-width:767px)";
$mq-smallScreen: "only screen and (min-width:480px)";
$mq-mediumScreen: "only screen and (min-width:768px)";
$mq-largeScreen: "only screen and (min-width:1020px)";
$mq-xLargeScreen: "only screen and (min-width:1200px)";
// To Use... @media #{$mq-mobileOnly}{ }

//endregion