<div class="container">
	<div class="feeds-wrap">
		<div class="feeds-select button-row button-select">
			<a href="#0" class="target-option button" data-value="news"><i class="far fa-newspaper" aria-hidden="true"></i>
			</a>
			<a href="#0" class="target-option button" data-value="social"><i class="fab fa-facebook-f" aria-hidden="true"></i>
			</a>
			<a href="#0" class="target-option button" data-value="events"><i class="far fa-calendar-alt" aria-hidden="true"></i>
			</a>
		</div>
		<div class="feeds-body">
			<div class="feed-wrap active" data-feed="news">
				<div class="feed-container color-red">
					<div class="feed-header">
						<div class="feed-background">
							<img src="./images/demo/chef.jpg">
						</div>
						<h2>News Releases</h2>
					</div>
					<div class="feed-body">
						<a href="#0" class="feed-item">
							<span class="feed-icon"><i class="far fa-newspaper" aria-hidden="true"></i></span>
							<div class="feed-content">
								<h4>Oct. 10, 2017</h4>
								<h3>WRA Education Foundation Announces Salute to Excellence Awards and Student Scholarships</h3>
							</div>
						</a>
						<a href="#0" class="feed-item">
							<span class="feed-icon"><i class="far fa-newspaper" aria-hidden="true"></i></span>
							<div class="feed-content">
								<h4>May 03, 2017</h4>
								<h3>Restaurant Neighbor Award Finalists</h3>
							</div>
						</a>
						<a href="#0" class="feed-item">
							<span class="feed-icon"><i class="far fa-newspaper" aria-hidden="true"></i></span>
							<div class="feed-content">
								<h4>May 03, 2017</h4>
								<h3>Faces of Diversity Finalists</h3>
							</div>
						</a>
						<a href="#0" class="feed-item">
							<span class="feed-icon"><i class="far fa-newspaper" aria-hidden="true"></i></span>
							<div class="feed-content">
								<h4>May 15, 2017</h4>
								<h3>Mark and Jean Landreman of Landreman's Family Restaurant Named 2017 Restauranteurs of the Year</h3>
							</div>
						</a>
						<a href="#0" class="feed-item">
							<span class="feed-icon"><i class="far fa-newspaper" aria-hidden="true"></i></span>
							<div class="feed-content">
								<h4>Oct. 10, 2017</h4>
								<h3>WRA Education Foundation Announces Salute to Excellence Awards and Student Scholarships</h3>
							</div>
						</a>
						<a href="#0" class="feed-item">
							<span class="feed-icon"><i class="far fa-newspaper" aria-hidden="true"></i></span>
							<div class="feed-content">
								<h4>May 03, 2017</h4>
								<h3>Restaurant Neighbor Award Finalists</h3>
							</div>
						</a>
						<a href="#0" class="feed-item">
							<span class="feed-icon"><i class="far fa-newspaper" aria-hidden="true"></i></span>
							<div class="feed-content">
								<h4>May 15, 2017</h4>
								<h3>Mark and Jean Landreman of Landreman's Family Restaurant Named 2017 Restauranteurs of the Year</h3>
							</div>
						</a>
					</div>
					<div class="feed-nav"></div>
				</div>
				<div class="feed-button">
					<a href="#0" class="button button-arrow button-red">Email Alert Sign Up</a>
				</div>
			</div>
			<div class="feed-wrap" data-feed="social">
				<div class="feed-container color-green">
					<div class="feed-header">
						<div class="feed-background">
							<img src="./images/demo/server-group.jpg">
						</div>
						<h2>Social Happenings</h2>
					</div>
					<div class="feed-body">
						{% raw %}
						<div class="feed-slide" v-for="post in posts">
							<div class="feed-item">
								<span class="feed-icon"><i class="fab fa-facebook-f" aria-hidden="true"></i></span>
								<div class="feed-content">
									<h4>Facebook</h4>
									<h5>{{ post.date }}</h5>
									<div v-html="post.content"></div>
									<h5 class="social-stats">
										<span class="social-likes">{{ post.likes.total_count }} {{ post.likes | pluralize("Like") }}</span>
										<span class="social-shares">{{ post.shares }} {{ post.shares | pluralize("Share") }}</span>
									</h5>
									<h5 class="social-actions">
										<a :href="post.link" target="_blank">Read More</a>
									</h5>
									<div class="social-image">
										<img :src="post.picture" alt="">
									</div>
								</div>
							</div>
						</div>
						{% endraw %}
					</div>
					<div class="feed-nav"></div>
				</div>
				<div class="feed-button">
					<a href="#0" class="button button-arrow button-green">Get Social With Us</a>
				</div>
			</div>
			<div class="feed-wrap" data-feed="events">
				<div class="feed-container color-blue">
					<div class="feed-header">
						<div class="feed-background">
							<img src="./images/demo/bartender-couple.jpg">
						</div>
						<h2>upcoming Events</h2>
					</div>
					<div class="feed-body">
						<a href="#0" class="feed-item">
							<span class="feed-icon"><i class="far fa-calendar-alt" aria-hidden="true"></i></span>
							<div class="feed-content">
								<h4>Nov. 27, 2017</h4>
								<h3>Milwaukee Chapter Holiday Auction</h3>
							</div>
						</a>
						<a href="#0" class="feed-item">
							<span class="feed-icon"><i class="far fa-calendar-alt" aria-hidden="true"></i></span>
							<div class="feed-content">
								<h4>Jan. 22, 2018</h4>
								<h3>WRA Milwaukee Chapter Holiday Party</h3>
							</div>
						</a>
						<a href="#0" class="feed-item">
							<span class="feed-icon"><i class="far fa-calendar-alt" aria-hidden="true"></i></span>
							<div class="feed-content">
								<h4>Jan. 24, 2018</h4>
								<h3>Restaurant Advocacy Day</h3>
							</div>
						</a>
						<a href="#0" class="feed-item">
							<span class="feed-icon"><i class="far fa-calendar-alt" aria-hidden="true"></i></span>
							<div class="feed-content">
								<h4>Feb. 19, 2018</h4>
								<h3>Presidents Day Bowl</h3>
							</div>
						</a>
						<a href="#0" class="feed-item">
							<span class="feed-icon"><i class="far fa-calendar-alt" aria-hidden="true"></i></span>
							<div class="feed-content">
								<h4>Mar. 12-14, 2018</h4>
								<h3>Midwest Foodservice Expo</h3>
							</div>
						</a>
					</div>
					<div class="feed-nav"></div>
				</div>
				<div class="feed-button">
					<a href="#0" class="button button-arrow button-blue">View Calendar</a>
				</div>
			</div>
		</div>
	</div>
</div>