.accordion {
	&__wrapper {
		@extend %container;
		padding: 0 20px;
		margin: 30px auto;
		position: relative;
		h2 {
			//padding: 0 20px;
		}
	}

	&__header {
		display: block;
		margin: 0;
		font-size: 1.3em;
		cursor: pointer;
		position: relative;
		font-family: $font-2;
		font-weight: normal;
		padding: 15px 0;
		//background: green;
		border: 0 solid currentColor;
		border-top-color: $color-1;
		border-bottom-width: 2px;
		color: $color-1;
		transition: 200ms;

		&:after {
			@include fa-icon;
			@extend .fas;
			content: fa-content($fa-var-plus);
			display: inline-flex;
			align-items: center;
			position: absolute;
			color: #fff;
			background: $color-1;
			padding: 7px;
			top: 0;
			right: 0;
			height: calc(100% + 2px);
			z-index: 2;
			font-weight: bold;
			border-bottom: 2px solid #fff;
			transition: 200ms;
		}
	}

	&__item {
		+ .accordion__item {
			.accordion__header {
				border-top-width: 2px;
				margin-top: -2px;
			}
		}

		&:last-of-type {
			.accordion__header {
				&:after {
					border-color: transparent;
				}
			}
		}

		&.open-accordion {
			.accordion__header {
				color: $color-4;
				&:after {
					border-color: transparent;
					content: fa-content($fa-var-minus);
					background-color: $color-4;
				}
			}

			+ .accordion__item {
				.accordion__header {
					border-top-color: currentColor;
				}
			}
		}
	}

	&__content {
		padding: 15px;
		display: none;
		background-color: tint($color-1, 90%);
	}

	@media #{$mq-largeScreen} {
		&__header {
			&:after {
				padding: 5px;
				font-size: 0.5em;
			}
		}
	}

	@media only screen and (orientation: portrait) {
		&__wrapper {
			padding: 0;
			max-width: none;
			h2 {
				padding: 0 15px;
			}
		}
		&__header {
			padding: 15px 33px 15px 15px;
		}
	}
}
