.alert {
	display: flex;
	display: -webkit-box; // Not sure why but display: flex is cutting this off on Chrome, but their prefix thingy isn't. Going to let this override for now.
	background: darken($color-2, 5%);
	align-items: center;
	&-label {
		padding: 10px;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 2px;
		display: none;
		p {
			margin: 0;
		}
	}
	&-ticker {
		background: $color-2;
		overflow: hidden;
		position: relative;
		width: 100%;
		a {
			color: #fff;
			text-decoration: none;
		}
		&:after {
			content: '';
			width: 150px;
			right: 0;
			height: 100%;
			top: 0;
			background-color: transparent;
			background-image: linear-gradient(to left, $color-2, rgba($color-2,0));
			position: absolute;
			pointer-events: none;
		}
	}
	&-item {
		padding: 10px;
		text-decoration: none;
		font-family: $font-2;
		font-weight: bold;
		max-width: 300px;
		display: inline-block;
		white-space: nowrap;
		line-height: 1.75;
		&:hover {
			background: rgba(0, 0, 0, 0.05);
		}
		&-icon {
			display: inline-block;
			vertical-align: top;
			font-size: 1.2em;
			padding: 2px;
			width: 10%;
			line-height: 1;
		}
		&-wrap {
			white-space: normal;
			display: inline-block;
			width: 90%;
			vertical-align: top;
		}
	}
	&-date {
		line-height: 1;
		margin: 0 0 10px;
		font-size: 0.875em;
	}
	&-title {
		margin: 0;
		font-size: 0.875em;
		text-transform: uppercase;
		span {
			border-bottom: 2px solid #fff;
		}
	}
	@media #{$mq-mediumScreen} {
		&-label {
			display: block;
		}
		&-item {
			padding: 10px 20px 15px;
			&:after {
				content: '';
				display: inline-block;
				height: 100px;
				width: 1px;
				background: rgba(#fff, 0.5);
				vertical-align: middle;
				position: absolute;
				z-index: 25;
				right: 0;
				top: 0;
			}
			&-icon {
				display: none;
			}
			&-wrap {
				width: auto;
				display: block;
			}
		}
		@supports (display:flex) {
			&-item {
				border-right: 1px solid rgba(#fff, 0.5);
				vertical-align: top;
				&:after {
					content: none;
				}
			}
		}
	}
}
