.banner {
	@extend %container;
	@extend .theme-dark;
	max-width: 1310px;
	margin: 20px 0;
	position: relative;
	text-align: center;
	color: #fff;
	font-family: $font-2;
	letter-spacing: 1.5px;
	a {
		color: #fff;
	}
	&-content {
		position: relative;
		font-size: 1.5rem;
		z-index: 3;
	}
	&-background {
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		@include themable;
	}
	@media #{$mq-mediumScreen} {
		margin: 20px auto;
		padding: 2em;
	}
}

.bq {
	@extend %container;
	&-qmarks {
		height: 50%;
		text-align: center;
		vertical-align: top;
		padding-top: 40px;
		&:before, &:after {
			display: inline-block;
			font-size: 3em;
			line-height: 0.3;
			margin: 0;
			padding: 0;
			vertical-align: top;
			font-family: $font-2;
			font-weight: bold;
		}
		&:before {
			content: '\201C';
		}
		&:after {
			content: '\201D';
			transform: translateY(30%);
		}
	}
	&-quote {
		display: block;
		color: #fff;
		margin-bottom: 1rem;
		font-size: 1.5rem;
	}
	&-author {
		text-transform: uppercase;
		font-family: $font-2;
		letter-spacing: 1.5px;
		&:before {
			content: '- ';
		}
	}
	@media #{$mq-mediumScreen} {
		&-qmarks {
			&:before, &:after {
				font-size: 120px;
			}
		}
	}
}

.cta {
	@extend %container;
	align-items: center;
	&-image {
		flex: 0 1 40%;
		padding: 0 50px;
		img {
			display: block;
		}
	}
	&-text {
		flex: 0 1 auto;
		padding: 20px 0;
	}
	&-button {
		flex: 0 0 auto;
		padding: 15px 70px;
		@include btn-color(#fff);
		@at-root .color-green & {
			color: $color-3;
			&:after {
				color: $color-3;
			}
		}
		@at-root .color-blue & {
			color: $color-2;
			&:after {
				color: $color-2;
			}
		}
		@at-root .color-red & {
			color: $color-4;
			&:after {
				color: $color-4;
			}
		}
	}
	@media #{$mq-mediumScreen} {
		display: flex;
		justify-content: space-between;
		&-image {
			padding: 0;
			~ .cta-text {
				padding-left: 30px;
			}
		}
		&-text {
			text-align: left;
			padding-top: 0;
			padding-bottom: 0;
			padding-right: 30px;
		}
	}
}