.ci {
	&-wrap {
		@extend %container;
		//clear: none;
	}
	&-content {
		@include bordered;
		align-items: center;
		display: flex;
		flex-direction: column;
		/*&.copy-left {
			.ci-image {
				order: 2;
			}
		}*/
	}
	&-image {
		flex: 0 0 40%;
	}
	&-copy {
		padding: 30px;
	}
	@media #{$mq-mediumScreen} {
		&-content {
			flex-direction: row;
			&.copy-left {
				.ci-copy {
					padding-left: 65px;
				}
				.ci-image {
					order: 2;
				}
			}
		}
		&-copy {
			padding: 50px;
			height: 100%;
			width: 100%;
		}
	}
}