// I should be ashamed of how I named these...

.feeds {
	&-wrap {
		width: 100%;
	}
	&-body {
		@include bordered($color-1, 0);
		&.magicalized {
			.feed-slide, .slick-list, .slick-track, .slick-slide {
				min-height: 100%;
				max-height: none;
				height: 100%;
			}
		}
	}
	&-select {
		margin: 10px 0;
		.button-select-wrap {
			.button {
				padding: 5px 0;
				font-size: 1.5em;
			}
		}
	}
	@media #{$mq-largeScreen} {
		&-body {
			display: flex;
			justify-content: space-between;
			&:after {
				content: none;
			}
		}
		&-select {
			display: none;
		}
	}
}

.feed {
	&-wrap {
		flex: 0 0 30%;
		width: 100%;
		flex-direction: column;
		height: 0;
		display: flex;
		overflow: hidden;
		&.active {
			height: auto;
		}
	}
	&-button {
		flex: 0 0 auto;
		padding: 15px;
		.button {
			display: block;
		}
	}
	&-container {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
	}
	&-header {
		position: relative;
		flex: 0 0 auto;
		h2 {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
			color: #fff;
			width: 100%;
			text-align: center;
			z-index: 4;
		}
		@include themable;
	}
	&-body {
		width: 100%;
		text-align: left;
		flex: 1 0 auto;
		&.slick-dotted {
			margin: 0;
		}
	}
	&-nav {
		padding: 10px 0;
	}
	&-slide {
		&.slick-slide {
			display: flex;
		}
		max-width: 100%;
		flex-direction: column;
		border-right: 1px solid $gray;
		justify-content: stretch;
	}
	&-item {
		padding: 15px 20px 25px 15px;
		text-decoration: none;
		display: inline-block;
		white-space: nowrap;
		line-height: 1.75;
		color: $color-1;
		border-bottom: 1px solid $gray;
		width: 100%;
		flex: 1 0 auto;
		align-content: center;
		&:hover {
			text-decoration: none;
		}
		&:nth-child(even) {
			background-color: $light-gray;
		}
	}
	&-content {
		white-space: normal;
		display: inline-block;
		width: 88%;
		vertical-align: top;
		h4 {
			margin: 0;
			color: #000;
			font-family: $font-2;
		}
		h3 {
			@at-root a & {
				@extend .block-link;
				display: inline;
			}
			font-size: 1rem;
			color: $color-1;
			hyphens: auto;
		}
		h5 {
			font-size: 0.75rem;
			color: $gray;
		}
		p {
			color: #000;
			font-size: 0.85rem;
			margin: 5px 0;
			a {
				font-weight: bold;
			}
		}
		.social {
			&-stats {
				span {
					@include inline-bullets;
				}
			}
			&-actions {
				a {
					text-decoration: none;
					color: #000;
					@include inline-bullets;
				}
			}
			&-image {
				border-radius: 3px;
				border: 2px solid lighten($gray, 15%);
				overflow: hidden;
				max-width: 75%;
				margin: 10px 0;
				img {
					border: 5px solid #fff;
				}
			}
		}
	}
	&-icon {
		display: inline-block;
		vertical-align: top;
		font-size: 1.75em;
		padding: 2px;
		width: 12%;
		line-height: 1;
	}
	@media #{$mq-largeScreen} {
		&-wrap {
			height: auto;
		}
		&-container {
			@include bordered($color-1, 0);
			display: flex;
			margin-bottom: 30px;
		}
		&-button {
			padding: 0;
			align-self: center;
			.button {
				width: 100%;
			}
		}
	}
}

[data-feed=social] {
	.feed-slide {
		border: none;
	}
	.feed-item {
		border: none;
	}
}

// ... but I'm not