.full-width-image {
	width: 100%;
	position: relative;
	img {
		display: block;
		width: 100%;
	}
}

.header {
	padding: 30px 20px;
	&-background {
		@include themable;
		img {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			object-fit: cover;
		}
	}
	&-text {
		text-align: center;
		position: relative;
		z-index: 4;
	}
	&-title {
		font-size: 2.25em;
		letter-spacing: 1px;
		word-spacing: -0.05em;
		margin-bottom: 5px;
		font-weight: bold;
		color: #fff;
		line-height: 1;
		text-shadow: 0 0 5px #000;
	}
	&-tagline {
		text-align: center;
		margin: 0;
		color: #ffffff;
		span {
			@include inline-bullets;
			font-size: 1.5em;
			font-weight: normal;
			font-family: $font-2;
			letter-spacing: 0.075em;
			text-transform: uppercase;
			line-height: 1;
			&:nth-last-of-type(n+2) {
				&:after {
					content: '\2022';
					margin: 0 5px;
					color: #fff;
				}
			}
			&:nth-child(1) {
				color: $color-3;
			}
			&:nth-child(2) {
				color: $color-2;
			}
			&:nth-child(3) {
				color: $color-4;
			}
		}
	}
	@media #{$mq-largeScreen} {
		padding: 0;
		&-background {
			img {
				position: relative;
			}
		}
		&-text {
			position: absolute;
			left: 0;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
		}
		&-title {
			font-size: 5em;
		}
		&-tagline {
			li {
				font-size: 2.25em;
			}
		}
	}
}
