.image-gallery {
	@extend %container;
	&-nav {
		display: none;
	}
	@media #{$mq-mobileOnly} {
		&-slider.slick-initialized {
			.slick-arrow {
				&:hover, &:focus {
					background: $color-2;
				}
			}
			.slick-prev {
				right: auto;
				left: 0;
			}
			.slick-next {
				left: auto;
				right: 0;
			}
		}
	}
	@media #{$mq-largeScreen} {
		width: 100%;
		height: 56.25%;
		padding: 10px;
		&-slider, &-nav {
			padding: 10px;
			clear: none;
			position: relative;
			height: 500px;
			.slick-list,
			.slick-track {
				height: 100%;
			}
		}
		&-slide {
			display: block;
			margin: 10px;
			height: 100%;
			max-width: 100%;
			border-bottom: 2px solid transparent;
			position: relative;
			&:after {
				position: absolute;
				content: '';
				bottom: 0;
				left: 0;
				width: 0;
				height: 2px;
				background: transparent;
				transition: background 0.25s;
			}
			img {
				width: auto;
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				text-align: center;
			}
			&.slick-active {
				&:after {
					background-color: $color-4;
					width: 100%;
					transition: background 0.25s 0.25S;
				}
			}
		}
		&-nav {
			display: block;
			height: 100px;
			.image-gallery-slide {
				margin: 0 5px;
			}
		}
		&-static {
			height: auto;
			width: auto;
			padding: 0;
			.image-gallery {
				&-slider {
					height: auto;
					display: flex;
					align-items: center;
					justify-content: space-between;
					flex-wrap: wrap;
				}
				&-slide {
					flex: 1 0 15%;
					padding: 10px;
					margin: 0;
				}
				&-nav {
					display: none;
				}
			}
		}
	}
}