.quick-link {
	display: block;
	text-decoration: none;
	//width: 33%;
	margin: 25px 0;
	flex-basis: calc(100% / 3);
	$columnsColors: ($color-4, $color-3, $color-2);
	@for $i from 1 through length($columnsColors) {
		$n: '3n - ' + (3-$i);
		&:nth-child(#{$n}) {
			.quick-link-background:before {
				$col: nth($columnsColors, $i);
				background-color: $col;
			}
		}
	}
	//&.color-red {
	//	.quick-link-background:before {
	//		background-color: $color-4;
	//	}
	//}
	//&.color-green {
	//	.quick-link-background:before {
	//		background-color: $color-2;
	//	}
	//}
	//&.color-blue {
	//	.quick-link-background:before {
	//		background-color: $color-3;
	//	}
	//}
	&-item {
		position: relative;
		display: block;
		width: 100%;
	}
	&-background {
		@include themable('.quick-link');
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: 2px 2px 3px rgba(#000, 0.5);
	}
	&-body {
		position: relative;
		padding: 20px;
		z-index: 5;
		width: 100%;
		text-align: center;
	}
	&-icon {
		display: none;
	}
	&-title {
		color: #ffffff;
		margin: 0;
		font-size: 1.2rem;
		font-weight: bold;
	}
	&-button {
		display: none;
		color: #ffffff;
		border-color: #fff;
	}
	&-description {
		display: none;
	}
	@media #{$mq-mediumScreen} {
		margin: 0;
		padding: 10px;
		&-wrap {
			display: flex;
			flex-wrap: wrap;
		}
		&-description {
			display: block;
			color: #ffffff;
		}
		&-button {
			display: inline-block;
		}
		&-body {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
		&-title {
			font-size: 2em;
			margin-bottom: 1rem;
			font-weight: normal;
		}
		&-icon {
			display: block;
			width: auto;
			margin: 0 auto 1rem;
		}
		&-background {
			position: relative;
		}
	}
}