.slider-container {
	@extend %container;
}

.slider-wrap {
	margin: 0;
	@include bordered(transparent);
}

.slick-initialized {
	&.slider-body {
		margin: 0;
		overflow: hidden;
		.ci {
			&-wrap {
				width: 100%;
				padding: 0;
			}
			&-content {
				&:after {
					content: none;
				}
			}
		}
		.slick-list {
			padding: 0 !important;
		}
	}
	&.columns-body {
		@include bordered();
		overflow: hidden;
		display: block;
		margin-bottom: 20px;
		.column {
			width: 100%;
			display: block;
			margin-bottom: 0;
			&-card {
				&:after {
					content: none;
				}
			}
		}
	}
	&.target-slider {
		.slick-list {
			width: 100%;
		}
	}
}

.slick-arrow {
	background: transparent;
	width: auto;
	height: auto;
	z-index: 15;
	background: darken($color-1, 5%);
	padding: 15px;
	&:before {
		content: '';
		//padding: 10px;
		position: relative;
		opacity: 1;
		z-index: 2;
	}
	&.slick-prev {
		@include list-arrow(#fff);
		left: auto;
		right: 100%;
		&:before {
			margin: 0;
			border-right: 10px solid #fff;
			border-left: 0 solid transparent;
		}
	}
	&.slick-next {
		@include list-arrow(#fff);
		left: 100%;
		&:before {
			margin: 0;
			border-right: 0 solid transparent;
			border-left: 10px solid #fff;
		}
	}
	@media #{$mq-mediumScreen} {
		&:hover, &:focus {
			background: darken($color-1, 5%);
		}
		&:after {
			content: none;
		}
	}
}

.slider-nav {
	//display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
	height: calc(100vw - 42px); // 100vw should be the ratio of the image.
	//background: rgba($color-2, 0.5);
	.slick-arrow {
		pointer-events: auto;
		display: inline-block;
		transform: none;
		left: auto;
		right: auto;
		margin: 2px;
		position: absolute;
		width: 40px;
		top: 0;
		height: 100%;
		background: transparent;
		padding: 0;
		background-image: linear-gradient(to right, rgba(#fff, 0.75), rgba(#fff, 0));

		&:after {
			content: '';
			background: darken($color-1, 5%);
			display: block;
			top: 50%;
			height: 40px;
			transform: translateY(calc(-50% - 7.5px));
		}
		&.slick-next {
			right: 0;
			background: {
				image: linear-gradient(to left, rgba(#fff, 0.75), transparent);
			}
		;
			&:after {
				right: 0;
				left: auto;
			}
		}
		&:hover, &:focus {
			&:after {
				background: darken($color-1, 5%);
			}
		}
	}
	@media #{$mq-mediumScreen} {
		top: auto;
		left: auto;
		bottom: 30px;
		right: 30px;
		width: auto;
		height: auto;
		.slick-arrow {
			position: relative;
			margin: 5px;
			width: auto;
			background-image: none;
			background: darken($color-1, 5%);
			padding: 10px;
			&:after {
				display: none;
			}
			&.slick-next {
				background-image: none;
			}
		}
	}
}

/*.ci-reverse {
	.slider-nav {
		top: auto;
		bottom: 4px;
	}
	.slider-dots {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: calc(100vw - 42px); // 100vw should be the ratio of the image.
	}
	.ci-image {
		margin-top: 30px;
	}
}*/

.slider-dots {
	padding-bottom: 15px;
	@media #{$mq-mediumScreen} {
		position: absolute;
		bottom: 30px;
		left: 70%;
		transform: translateX(-50%);
		padding-bottom: 0;
	}
}

.slick-dots {
	@extend %list-reset;
	position: relative;
	top: auto;
	bottom: auto;
	li {
		margin: 0;
		width: auto;
		height: auto;
		button {
			width: auto;
			height: auto;
			&:before {
				content: '';
				position: relative;
				display: block;
				top: auto;
				left: auto;
				width: 12px;
				height: 12px;
				border: 1px solid $color-1;
				border-radius: 50%;
				opacity: 1;
			}
			&:hover {
				&:before {
					background: rgba($color-1, 0.2);
				}
			}
		}
		&.slick-active {
			button {
				&:before {
					background: $color-1;
				}
			}
		}
	}
}

.columns-nav {
	display: flex;
	align-items: center;
	.slick-arrow {
		position: relative;
		left: 0;
		right: 0;
		top: 0;
		transform: none;
	}
	.slick-next {
		order: 3;
	}
}