// Most of the styles for this is for the quick links or is slider-specific
.target {
	&-wrap {
		@extend %container;
		padding: 40px 0;
	}
	&-slider {
		display: block;
		margin-top: 15px;
	}
	@media #{$mq-mediumScreen} {
		&-wrap {
			padding-left: 0;
			padding-right: 0;
		}
		&-slider {
			width: 100%;
			display: flex;
		}
	}
}