.team-card {
	@extend %container;
	clear: none;
	&-image {
		border-radius: 100%;
		overflow: hidden;
		width: 150px;
		margin-right: 10px;
		display: inline-block;
		vertical-align: middle;
		max-width: 30%;
	}
	&-content {
		display: inline-block;
		vertical-align: middle;
		max-width: 69%;
			padding: 0 0 0 10px;
			border-left: 3px solid $color-4;
		h4, p {
			line-height: 2;
		}
		p {
			margin: 0;
			a {
				font-weight: bold;
			}
		}
	}
	@media #{$mq-smallScreen} {
		&-image {
			margin-right: 20px;
		}
		&-content {
			padding: 0 20px;
		}
	}
}