//region Abstracts
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';
//endregion

// region Vendors
// region Vendor Overrides
$fa-font-path: "#{$assetsPath}/fonts";
// endregion

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/fa-solid";
@import "vendor/font-awesome/fa-regular";
@import "vendor/font-awesome/fa-brands";
//@import "vendor/fullcalendar-print";
// endregion

//region Base
@import 'base/defaults';
@import "base/sitefinity-resets";
//endregion

//region Components
@import 'components/buttons';
//endregion

.k-list-scroller {
	.k-list {
		@extend %list-reset;
	}
}

.k-editable-area {
	padding: 20px;
}

html {
	padding: 20px;
}